/*  (*) the universal selector is going to select everything on the HTML page   
    color:rgb(72, 62, 64);
    background-color: rgb(174, 218, 174);
}
*/ 
/*The class selector is used for the background */
body{
    background: #eee2dc; ;
}
/* Element selector */
button{
    font-size: medium;

}
label{
    color: #ac3b61;
    font-size: large;
    font-weight: bold;
    font-family:Georgia,'Times New Roman',Times,serif;
}

/*Multi element  selectors used for the headers color  */
h1, h2{
    color: #ac3b61;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

/* Links by ID with (# sign) to change the background and color for the sign up button */
#signup{
    background-color: #edc7b7;
    color: #ac3b61;

}

/*Class selectors used */
.tag{
    color: rgb(20, 47, 38);
}
/* decendent selectors used to change the color of the anchor element in the body */
.post a{
   color: #123c69;
   font-size:larger;
   font-weight: bold;

}
/*decensendor selecters (>) */
footer > a{
    color: #123c69;
}
/*  */
a[href*="google"]{
    color: #bab2b5;
}
/*sudo classes*/
button:hover{
    background-color: #edc7b7;
    color: #ac3b61;
}
/* nested psudo classes*/
.post button:active{
    background-color:#eee2dc;

}
/*psudo elements */
h2::first-letter{
    font-size: 50px;
}
/*psudo element, paragraph element*/
p::first-line{
    color: #ac3b61;
